<html>
  <head>
    <title>OVH Modcdcdcule</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {{> navbar}}
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-6"
  >
   {{{body}}}
  </div>
  <script
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
  </body>
    {{> footer}}
</html>