<html>
  <head>
    <title>OVH Modcdcdcule</title>
    {{! <link rel="stylesheet" href="handlebars/assets/output.css" /> }}
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    
    {{> navbar}}

    {{{body}}}

    <script
      src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
    ></script>
  </body>

    {{> footer}}
    
</html>